# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Env vars
*.env

# Byte-compiled / cache
*.py[cod]
*$py.class
